[submodule "telegram/TelegramQML"]
	path = telegram/TelegramQML
	url = git@github.com:Aseman-Land/TelegramQML.git
[submodule "telegram/telegramqml"]
	path = telegram/telegramqml
	url = git@github.com:Aseman-Land/TelegramQML.git
[submodule "telegram/libqtelegram"]
	path = telegram/libqtelegram
	url = git@github.com:Aseman-Land/libqtelegram-aseman-edition.git
